.background{
    background-image: url(Media/crop-store.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
} 

.hexagon {
    display: block;
    width: 150px;
    height: 137.5px;
    /* set transparent background */ 
    background-color: rgb(255,255,255,0.3);

    /* blur the hell out of it */
    backdrop-filter: blur(5px);

    /* Clip the edges of the box so that it looks like a hexagon */
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hexagon.position1,.position2,.position3{
    width: 75px;
    height: 68.75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon.position5{
    width: 141px;
    height: 121.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 125px;
    top: 360px;
}

.position3{
    position: relative;
    left: 252px;
    top: 396px;
}

.position2{
    position: relative;
    left: 70px;
    top: 465px;
}

.controller{
    max-width: 60%;
  }

.camera{
    max-width: 55%;
    margin-bottom: 15px;
  }

.home{
    max-width: 55%;
}

.filter{
    max-width: 40%;
  }

.mask{
    position: absolute;
    max-width: 30%;
    left: 140px;
    top: 150px;
}

  .tobias{
      max-width: 100%;
      display: block;
      position: absolute;
      left: -0px;
      bottom: -15px;
  }