.background{
    background-image: url(Media/crop-store.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
} 

.hexagon {
    display: block;
    width: 150px;
    height: 137.5px;
    /* set transparent background */ 
    background-color: rgb(255,255,255,0.3);

    /* blur the hell out of it */
    backdrop-filter: blur(17px);

    /* Clip the edges of the box so that it looks like a hexagon */
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hexagon.position1,.position2,.position3,.position4,.position6{
    width: 75px;
    height: 68.75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .controller{
      max-width: 60%;
  }

  .camera{
    max-width: 50%;
  }

  .skulltrooper{
      max-width: 50%;
  }

  .brite,.drift{
      max-width: 30%;
  }