.background{
    background-image: url(Media/store.jpg);
    background-size: cover;
    background-position: center;
} 

​        .hexagon {
            display: block;
            width: 300px;
            height: 275px;
            /* set transparent background */ 
            background-color: rgb(255,255,255,0.3);
​
            /* blur the hell out of it */
            backdrop-filter: blur(17px);
​
            /* Clip the edges of the box so that it looks like a hexagon */
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        }

  .controller,.camera{
      max-width: 30%;
  }

  .skulltrooper{
      max-width: 50%;
  }

  .brite,.drift{
      max-width: 30%;
  }