@font-face{
    font-family: futura;
    src: url(font/Futura.ttc);
}
.touch-button{
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
body{
    background-image: url(media/background-blur.jpg);
}
.hand{
    width: 350px;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-self: center;
    margin-top: 50px;
}

#sequence{
    color: white;
    font-size: 3em;
    font-family: futura;
    transform: rotate(-10deg);
    text-align: center;
    margin-top: 100px;
}